# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
name: Python application
on:
  push:
  pull_request:
permissions:
  contents: read
jobs:
  uv-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.13
        uses: actions/setup-python@v3
        with:
          python-version: "3.13"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: |
          uv pip install --system . ruff
      - name: Build with uv
        run: |
          uv build
      - name: Lint and check formatting with Ruff
        run: |
          ruff check .
          ruff format --check .
      # - name: Test
      #   run: |
      #     python -m unittest discover tests
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v25
      - name: Build with Nix
        run: nix build
